* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #232a31;
  height: 80px;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-items {
  display: flex;
  gap: 8px;
  position: absolute;
  line-height: 80px;
}

.navbar-items a {
  text-decoration: none;
}
