* {
  padding: 0;
  margin: 0;
}

header {
  background-color: #232a31;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-container a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

li {
  list-style: none;
  padding: 10px;
}

.navbar-container ul {
  display: flex;
}
