* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #232a31;
}

.logo {
  width: 50px;
  height: 50px;
}

.navbar-container a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 0 10px;
}

.navbar-container ul {
  display: flex;
}

.navbar-container {
  display: flex;
  justify-content: end;
  height: 80px;
}
