body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 235, 255);
}

.header {
  background-color: rgb(102, 49, 187);
  color: white;
}
.header h2 {
  margin: 0;
  padding: 20px;
  height: 200px;
}

.container {
  position: relative;
  bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  height: 1500px;
  width: 900px;
  background-color: white;
  box-sizing: border-box;
  padding: 30px;
}
.paragrafo-formulario {
  padding: 10px;
  color: rgb(102, 49, 187);
  text-align: center;
  font-size: 25px;
  border-bottom: 1px solid rgb(223, 223, 223);
}
.linha {
  position: relative;
  margin: 0 auto;
  bottom: 25px;

  width: 120px;
  height: 3px;
  background-color: rgb(102, 49, 187);
}

.container label,
.container input {
  display: block;
}

label {
  margin-bottom: 5px;
}
input {
  font-size: 15px;
  width: 450px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgb(223, 223, 223);
  margin-bottom: 40px;
}

input:not([type="radio"]) {
  font-size: 15px;
  width: 450px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgb(223, 223, 223);
  margin-bottom: 40px;
}

.asterisco {
  color: red;
}

textarea {
  width: 500px;
  padding: 10px 5px;
  margin-bottom: 30px;
}

.input-radio input {
  width: 15px;
  height: 15px;
  margin: 0;
}

.input-radio label {
  margin: 10px 0;
}

.input-radio input,
.input-radio label {
  display: inline-block;
}

.opcao-check-box label,
.opcao-check-box input {
  margin: 0;
  padding: 0;
}
