body {
  padding-bottom: 500px;
}

div {
  margin-bottom: 10px;
}

div input,
div label {
  display: block;
}

fieldset {
  border-radius: 10px;
}

.radio label,
.radio input,
.radio span {
  display: inline-block;
}

.radio input {
  width: 50px;
  height: 50px;
}
.radio {
  border: 1px solid blue;
}

.radio label {
  position: relative;
  bottom: 20px;
}
